{% extends 'base.html' %}
{% load static %}

{% block extrastatic %}
<link rel="stylesheet" href="{% static 'css/pass_reset_done.css' %}" type="text/css">
{% endblock %}

{% block title %}Email enviado{% endblock %}

{% block content %}
    <main>
        <div class="div_reset_done">
            <h1>Revisa tu bandeja de entrada</h1>
            <p>Te hemos enviado instrucciones para que restablecer tu contraseña. Deberias recibir un correo a la brevedad.</p>
        </div>
    </main>
{% endblock %}