{% extends 'base.html' %}
{% load static %}

{% block extrastatic %}
<link rel="stylesheet" href="{% static 'css/pass_reset.css' %}" type="text/css">
{% endblock %}

{% block title %}Reestablecer contraseña{% endblock %}

{% block content %}
    <main>
        <div class="div_pass_reset">
            <h1 class="h1_reset_1">¿Olvidaste tu contraseña?</h1>
            <p>Ingresa tu correo, te enviaremos instrucciones de como recuperarla.</p>

            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn_correo1" type="submit" value="Enviar correo">
            </form>
        </div>
    </main>
{% endblock %}